<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">

	<title>es Forum</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">

	<link th:href="@{res/css/bootstrap/bootstrap.min.css}" rel="stylesheet">

	<script th:src="@{res/js/jquery/jquery-3.4.1.min.js}"></script>
	<script th:src="@{res/js/bootstrap/bootstrap.min.js}"></script>
	<script th:src="@{res/js/bootstrap/popper.min.js}"></script>
	
    <script th:src="@{res/vuejs/axios.min.js}"></script>
    <script th:src="@{res/vuejs/vue.min.js}"></script>
</head>

<body>


</body>

</html>